
#title{
    font-size:20pt;
    text-align:right;
    padding-right:20px;
    line-height:40px;
}
#titlebtn{
    font-size:20pt;
}

.select-wrapper input.select-dropdown{
    font-size:1.2rem !important;
}
.dropdown-content li > a, .dropdown-content li > span{
    color:#3f51b5 !important;
}

#addFilter{
    display:none;
}

circle:hover{
    cursor: pointer;
}


#popupCharger{
    position:absolute;
    top:120px;
    display:none;
}

#popupEdit{
    position:absolute;
    top:120px;
    display:none;
}

.border-bottom{
    border-bottom: 1px solid #bdbdbd;
}
body{
    height:100%;
}
table,tbody {
    width: 100%;
    table-layout: fixed;
    background-color:#eeeeee;
}
tr {
    border: 1px solid rgba(0, 0, 0, 0.12);
}
td, th{
    text-align: center;
    width: 150px;
    padding: 10px 0 10px;
}
.table-wrapper {
  overflow-x: scroll;
}
