
#title{
    font-size:20pt;
    text-align:right;
    padding-right:20px;
    line-height:40px;
}
#titlebtn{
    font-size:20pt;
}

.select-wrapper input.select-dropdown{
    font-size:1.2rem !important;
}
.dropdown-content li > a, .dropdown-content li > span{
    color:#3f51b5 !important;
}

#addFilter{
    display:none;
}

circle:hover{
    cursor: pointer;
}

.border-bottom{
    border-bottom: 1px solid #bdbdbd;
}
body{
    height:100%;
}
table {
    width: 100%;
    table-layout: fixed;
    display: block;
    overflow-x: auto;

}
tbody{
    width: 100%;
    overflow-y: auto;
}
thead {
    width: 100%;
}

tr {
    border: 1px solid rgba(0, 0, 0, 0.12);
}
td, th{
    text-align: center;
    padding: 5px 10px 5px 5px;
    background-color:#eeeeee;
}

#headerOfTableOfPoints{
    background-color:#9e9e9e;
}

#inputDataInTable{
   background-color:#fafafa;
}
.inputRowTd{
   background-color:white !important;
   border-radius: 3px !important;
}