
#title{
    font-size:20pt;
    text-align:right;
    padding-right:20px;
    line-height:40px;
}
#titlebtn{
    font-size:20pt;
}

.select-wrapper input.select-dropdown{
    font-size:1.2rem !important;
}
.dropdown-content li > a, .dropdown-content li > span{
    color:#3f51b5 !important;
}

#addFilter{
    display:none;
}

nav{
  height: 90px !important;
}
circle:hover{
    cursor: pointer;
}
#carte{
    height:600px;
    width:700px;
    position:fixed;
}
body{
    color:back;
}